@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

.top h1 {
  font-family: 'Sacramento', cursive;
  font-size: 70px;
  color: rgb(44, 184, 184);
}

.hello h1 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(44, 184, 184);
}
